body {
    margin: 0;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
p {
    text-align: center;
    color: white;
    padding: 5px;
    margin: 0 auto;
}

header {
    height: 80px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
}

.calculator {
    text-align: center;
    margin: 50px auto;
    width: 410px;
    box-shadow: 10px 15px 5px gray;
}

.calculator-screen {
    width: 100%;
    height: 100px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    font-size: 36px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
}

.calculator-keys {
    width: 100%;
}

.row {
    display: flex;
}

button {
    height: 80px;
    background-color: black;
    border: 1px solid white;
    font-size: 32px;
    color: #fff;
    width: 25%;
    outline: none;
}

.all-clear,
.zero-btn {
    width: 50%;
}

.operator,
.equal-sign,
.percentage,
.all-clear {
    background-color: black;
    color: orange;
}

button:hover {
    background-color: darkorange;
}

.operator:hover,
.equal-sign:hover {
    background-color: darkorange;
}

footer {
    background-color: rgba(34, 49, 52, 0.9);
}

footer p {
    padding: 15px;
    font-size: 20px;
    color: white;
}
